multi channel chatbot 2511.json
{
  "name": "multi channel chatbot",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "path": "KEy123",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -192,
        160
      ],
      "id": "c3963a9b-8f2a-49b8-84cd-1e58eb86506d",
      "name": "Webhook",
      "webhookId": "aec05b61-bbae-41d8-aa25-c26082dd78ff"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -160,
        384
      ],
      "id": "2725adad-2d82-4918-8de6-c67bff4ed250",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "35588a02-6475-400d-b869-da05d7ed0f3a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "83b9e800-99d0-4e31-8032-ae81aebe86d1",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3ab7184b-65ec-4ca5-a250-667667999220",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        656,
        608
      ],
      "id": "7930f4e7-3c7e-4a26-9484-886ea19e8cf5",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "en"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1216,
        704
      ],
      "id": "23f8d184-750b-43f3-9905-dcc8c439d457",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "NLWYJvrgYDLZnpNQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f35809b-3889-4ef7-a8d5-a4d934842631",
              "name": "Text",
              "value": "={{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1088,
        576
      ],
      "id": "5d08cb38-9b15-4d7f-9cfa-305635f6eb49",
      "name": "Text"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f35809b-3889-4ef7-a8d5-a4d934842631",
              "name": "Text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1520,
        672
      ],
      "id": "1a7bb8e2-2c80-4a9e-b6b0-6463e6e42418",
      "name": "Voice"
    },
    {
      "parameters": {
        "url": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1088,
        672
      ],
      "id": "f76b1b2d-a0e2-4987-8379-62e935183f2e",
      "name": "Download Audio"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bbb5a4b6-7c2c-4af6-a584-e6352fd0068f",
              "leftValue": "={{ $('Webhook').item.json.body.entry[0].messaging[0].message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6896,
        608
      ],
      "id": "91ab7b74-3543-433e-8b38-549ba93ff875",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "=What's in this image?",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1280,
        832
      ],
      "id": "8f39ba9e-6ebc-40c4-8c23-ba7c45b33759",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "NLWYJvrgYDLZnpNQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1024,
        832
      ],
      "id": "60f3bf02-b134-42ae-a0b1-8e271013d0cb",
      "name": "Download Image"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f35809b-3889-4ef7-a8d5-a4d934842631",
              "name": "Text",
              "value": "=# The author provided the image and the text \n\n## Image Description\n{{ $json.content }}\n\n\n\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1520,
        832
      ],
      "id": "984601bb-7d11-4807-af92-c42ce009a507",
      "name": "Image + Text"
    },
    {
      "parameters": {
        "toolDescription": "Call this tool if you want to do something with calendar.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=## Overview\nYou are the Calendar Agent. Your job is to manage calendar events by creating, updating, retrieving, or deleting them as requested. The current date and time is {{ $now.toString() }}\n\n## Tools\n- Create an event: Use to add a new calendar event\n- Delete an event: Use to remove an existing event\n- Get an event: Use to fetch details of a specific event\n- Get Many Events: Use to list multiple upcoming or past events\n- Update Events: Use to modify details of an existing event\n\n## Rules\n- Always confirm the date, time, and event details before creating or updating\n- Use Get Many Events before creating to avoid duplicates if unsure\n- Keep responses short and clear for WhatsApp delivery\n- If an event cannot be found, respond politely with a fallback message\n\n## Instructions\n1) Interpret the user’s calendar request\n2) Select the correct tool (create, get, update, delete)\n3) Execute the action and return a human-friendly summary\n4) Always confirm the action back to the user\n\n## Examples\n1)\nInput: \"Add a meeting with Sarah tomorrow at 3 PM\"\n- Action: Use Create an event\n- Output: \"Meeting with Sarah scheduled for tomorrow at 3 PM.\"\n\n2)\nInput: \"What’s on my calendar this week?\"\n- Action: Use Get Many Events\n- Output: \"You have 4 events this week. First: Team Sync, Monday 10 AM.\"\n\n3)\nInput: \"Cancel my dentist appointment on Friday\"\n- Action: Use Delete an event\n- Output: \"Dentist appointment on Friday has been deleted.\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        4176,
        -1120
      ],
      "id": "6615532f-c0e9-47d8-9843-a584baaaa6bd",
      "name": "Calendar Agent"
    },
    {
      "parameters": {
        "toolDescription": "Call this tool if you want to do something with E-mails.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        1904,
        -1168
      ],
      "id": "38344365-4234-4cc5-98ab-8171acd04999",
      "name": "E-Mails Agent1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        5488,
        688
      ],
      "id": "41e25118-e5b4-41f2-97fe-0d318a4ea5c7",
      "name": "Think"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "hamed.samy.31@gmail.com",
          "mode": "list",
          "cachedResultName": "hamed.samy.31@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "useDefaultReminders": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}",
        "additionalFields": {
          "attendees": [],
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        4128,
        -912
      ],
      "id": "67efed5e-1c54-42b5-9b2e-bf89fbedebbd",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "fhSA9gk6i5Ycxl9p",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "alyfar601@gmail.com",
          "mode": "list",
          "cachedResultName": "alyfar601@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        4272,
        -880
      ],
      "id": "a651b6f6-0b52-4b2d-a68d-4a3af20489e3",
      "name": "Delete an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "fhSA9gk6i5Ycxl9p",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "alyfar601@gmail.com",
          "mode": "list",
          "cachedResultName": "alyfar601@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        4416,
        -880
      ],
      "id": "e502bb8f-3f5c-4e71-af35-ed0ad76ab94f",
      "name": "Get an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "fhSA9gk6i5Ycxl9p",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "alyfar601@gmail.com",
          "mode": "list",
          "cachedResultName": "alyfar601@gmail.com"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        4560,
        -912
      ],
      "id": "d541b948-255f-4b73-be61-fcb8c10592c1",
      "name": "Get Many Events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "fhSA9gk6i5Ycxl9p",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "alyfar601@gmail.com",
          "mode": "list",
          "cachedResultName": "alyfar601@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        4688,
        -976
      ],
      "id": "c48392cd-5360-414e-b331-ca18ee972f42",
      "name": "Update Events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "fhSA9gk6i5Ycxl9p",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1728,
        -912
      ],
      "id": "d562556c-7fd6-40d2-abe3-f801c5335182",
      "name": "Send a message",
      "webhookId": "aec2ed46-53d8-420c-976e-0cfc1243d1e7",
      "credentials": {
        "gmailOAuth2": {
          "id": "F61FiK3zQquvMNEj",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        2048,
        -848
      ],
      "id": "8613dfc9-ec42-4c6a-8411-1a0fe77bf4f7",
      "name": "Get many e-mails",
      "webhookId": "ee9ebd63-f93b-4b6f-951d-0ca405d006e9",
      "credentials": {
        "gmailOAuth2": {
          "id": "F61FiK3zQquvMNEj",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1888,
        -880
      ],
      "id": "f74fb20a-f62b-4024-96de-28cabf695b9e",
      "name": "Delete an e-mail",
      "webhookId": "4af6cb6a-469e-494a-9c8d-ef7ce83ba54b",
      "credentials": {
        "gmailOAuth2": {
          "id": "F61FiK3zQquvMNEj",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        2224,
        -896
      ],
      "id": "f5104f2e-af03-425a-827e-4775423faf91",
      "name": "Mark as read",
      "webhookId": "9dce9f4e-3a79-48a8-ad38-beae7e2f3dd6",
      "credentials": {
        "gmailOAuth2": {
          "id": "F61FiK3zQquvMNEj",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsUnread",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        2400,
        -928
      ],
      "id": "7c872215-58fe-44d2-9177-e58a6df4bd76",
      "name": "Mark as unread",
      "webhookId": "58b6f548-e50d-4099-ae57-a65edb836b34",
      "credentials": {
        "gmailOAuth2": {
          "id": "F61FiK3zQquvMNEj",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        3792,
        -976
      ],
      "id": "5d56d5ff-894c-427c-b404-26f213b2e8ac",
      "name": "Reply to e-mail",
      "webhookId": "b6711010-630b-475f-868f-f695a066a7c2",
      "credentials": {
        "gmailOAuth2": {
          "id": "F61FiK3zQquvMNEj",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        4912,
        672
      ],
      "id": "498fbe29-8331-4c2b-a3c0-50310e9257a2",
      "name": "GPT-4.1-mini",
      "credentials": {
        "openAiApi": {
          "id": "NLWYJvrgYDLZnpNQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1584,
        -944
      ],
      "id": "e89e8455-c356-458f-b219-6a20e15f7258",
      "name": "GPT-4.1-mini3",
      "credentials": {
        "openAiApi": {
          "id": "pLd42vMfA7yydfRi",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        4000,
        -960
      ],
      "id": "3c50d57e-6874-461f-8dd8-2caf80a26973",
      "name": "GPT-4.1-mini4",
      "credentials": {
        "openAiApi": {
          "id": "pLd42vMfA7yydfRi",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $('main Agent').item.json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        7088,
        688
      ],
      "id": "f9355982-6581-4b28-9477-63a11b2103d8",
      "name": "Generate audio",
      "credentials": {
        "openAiApi": {
          "id": "NLWYJvrgYDLZnpNQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v23.0/me/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "EAA9gL5rL4ewBP1SwSrS5QAyNfeZCCVbAb72zcN2IfisxyolgpG1r3ViNfGc45fzHgZCam5fIiTDDrTkfLPGMH0CyKuLbe8vspZBfBa8mTXrex0EIbXzl0TG1izyue4W0S2GIANI4ZBZAh6I6TM8CJsZBGuNsc1e3nFNa8p7gBtogZADu71ESkOKZAiJLir057GumlKLHVyjWCY7ZCaJ3KJMPitwZDZD"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "recipient",
              "value": "={\"id\":\"{{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}\"}"
            },
            {
              "name": "message",
              "value": "{\"attachment\":{\"type\":\"audio\",\"payload\":{}}}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "={{ $json.fileName }}",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7248,
        688
      ],
      "id": "6844c17a-224f-4800-8fd2-291139af14c1",
      "name": "send text1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v24.0/{{ $('Webhook').item.json.body.entry[0].messaging[0].recipient.id }}/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "EAA9gL5rL4ewBP1SwSrS5QAyNfeZCCVbAb72zcN2IfisxyolgpG1r3ViNfGc45fzHgZCam5fIiTDDrTkfLPGMH0CyKuLbe8vspZBfBa8mTXrex0EIbXzl0TG1izyue4W0S2GIANI4ZBZAh6I6TM8CJsZBGuNsc1e3nFNa8p7gBtogZADu71ESkOKZAiJLir057GumlKLHVyjWCY7ZCaJ3KJMPitwZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{$('Webhook').item.json.body.entry[0].messaging[0].sender.id}}\"\n  },\n  \"messaging_type\": \"RESPONSE\",\n  \"message\": {\n    \"text\": \"{{ $json.reply }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7072,
        528
      ],
      "id": "665d53d1-76db-4f64-9c05-92caee68a88f",
      "name": "send text2"
    },
    {
      "parameters": {
        "jsCode": "const body = items[0].json.body || items[0].json;\n\n// Default response if nothing matches\nlet result = null;\n\n// --- WhatsApp payload ---\nif (body.object === \"whatsapp_business_account\") {\n  const entry = body.entry?.[0];\n  const change = entry?.changes?.[0];\n  const value = change?.value;\n  const msg = value?.messages?.[0];\n  const contact = value?.contacts?.[0];\n  const toNumber = value?.metadata?.display_phone_number || value?.metadata?.phone_number_id || null;\n\n  if (msg) {\n    let contentType = \"text\";\n    let content = msg.text?.body || null;\n\n    // Detect media type\n    if (msg.type === \"image\") {\n      contentType = \"image\";\n      content = msg.image?.id || msg.image?.link || null;\n    } else if (msg.type === \"audio\") {\n      contentType = \"audio\";\n      content = msg.audio?.id || msg.audio?.link || null;\n    } else if (msg.type === \"video\") {\n      contentType = \"video\";\n      content = msg.video?.id || msg.video?.link || null;\n    } else if (msg.type === \"document\") {\n      contentType = \"document\";\n      content = msg.document?.id || msg.document?.link || null;\n    }\n\n    result = {\n      channel: \"whatsapp\",\n      from: msg.from,                          // المرسل (رقم العميل)\n      to: toNumber,                            // المستقبل (الرقم الرسمي)\n      type: contentType,\n      content,\n      sessionId: `whatsapp:${msg.from}`,\n      profileName: contact?.profile?.name || null,\n      id: msg.id,\n      timestamp: msg.timestamp\n    };\n  }\n}\n\n// --- Messenger payload ---\nelse if (body.object === \"page\") {\n  const entry = body.entry?.[0];\n  const messaging = entry?.messaging?.[0];\n  const message = messaging?.message;\n\n  if (message) {\n    let contentType = \"text\";\n    let content = message.text || null;\n\n    if (message.attachments?.length) {\n      const attachment = message.attachments[0];\n      contentType = attachment.type;\n      content = attachment.payload?.url || null;\n    }\n\n    result = {\n      channel: \"messenger\",\n      from: messaging.sender.id,               // المرسل\n      to: messaging.recipient.id,              // المستقبل (Page ID)\n      type: contentType,\n      content,\n      sessionId: `messenger:${messaging.sender.id}`,\n      profileName: null,\n      id: message.mid,\n      timestamp: messaging.timestamp\n    };\n  }\n}\n\n// --- Instagram payload ---\nelse if (body.object === \"instagram\") {\n  const entry = body.entry?.[0];\n  const messaging = entry?.messaging?.[0];\n  const message = messaging?.message;\n\n  if (message) {\n    let contentType = \"text\";\n    let content = message.text || null;\n\n    if (message.attachments?.length) {\n      const attachment = message.attachments[0];\n      contentType = attachment.type;\n      content = attachment.payload?.url || null;\n    }\n\n    result = {\n      channel: \"instagram\",\n      from: messaging.sender.id,               // المرسل\n      to: messaging.recipient.id,              // المستقبل (IG Business ID)\n      type: contentType,\n      content,\n      sessionId: `instagram:${messaging.sender.id}`,\n      profileName: null,\n      id: message.mid,\n      timestamp: messaging.timestamp\n    };\n  }\n}\n\n// Default\nreturn [{ json: result || { channel: null, from: null, to: null, type: null, content: null } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        576
      ],
      "id": "9b3e6ca3-eaad-491a-88e9-0bc361ea48bc",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v24.0/{{ $('Webhook').item.json.body.entry[0].messaging[0].recipient.id }}/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "IGAAV8wvZCCZCZCZABZAFN6UVRKSzg0cDlYR0FHbDNzX09TdnFvTmNSRUZAXRnNnVXl3M0FmNmZArTU1CZA3MxZAFJvRE1FZA0Fjcks3OGs0TFlmOTlpb09rR0NnUDN6b1kyLUptQUJ5bmczaUhQc0s5ME15emluUlBqenUyaGFLSmE4ZAWI0bwZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{$('Webhook').item.json.body.entry[0].messaging[0].sender.id}}\"\n  },\n  \"messaging_type\": \"RESPONSE\",\n  \"message\": {\n    \"text\": \"{{$json.output}}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7072,
        368
      ],
      "id": "02546400-1ede-47b1-9143-f2e66f9848c8",
      "name": "send text3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bbb5a4b6-7c2c-4af6-a584-e6352fd0068f",
              "leftValue": "={{ $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].type }}",
              "rightValue": "text",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6880,
        112
      ],
      "id": "d22d4565-87d4-4af9-99dd-2c16a77b0dd0",
      "name": "If2"
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.output }}",
        "options": {
          "response_format": "opus"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        7072,
        208
      ],
      "id": "ee5de9f5-57ee-4cbc-8d6b-a904bb97393a",
      "name": "Generate audio2",
      "credentials": {
        "openAiApi": {
          "id": "NLWYJvrgYDLZnpNQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Code in JavaScript').item.json.channel }}",
                    "rightValue": "whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "748ec7f7-6156-4f6d-a38d-c9bb815ce6c5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "whatsapp"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "40ab4aa1-c823-4271-82f9-6958881a36af",
                    "leftValue": "={{ $('Code in JavaScript').item.json.channel }}",
                    "rightValue": "messenger",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "messenger "
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2c6e4b66-af8f-46c9-a29a-230ee4ddbf8c",
                    "leftValue": "={{ $('Code in JavaScript').item.json.channel }}",
                    "rightValue": "instagram",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Instagram "
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "allMatchingOutputs": false
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        240,
        560
      ],
      "id": "c63c92aa-b6d1-4fe6-b99e-a45f5fb2aa19",
      "name": "Switch2",
      "alwaysOutputData": false
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        416,
        592
      ],
      "id": "b8e93f5b-ca09-43b1-a8f8-282eca9865a8",
      "name": "Merge"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.content }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        912,
        224
      ],
      "id": "3e853671-2fa6-4aff-9707-7c79babf7ab5",
      "name": "Download URL",
      "webhookId": "d97e31e5-26f3-4b5f-b7b1-b3905930ad09",
      "credentials": {
        "whatsAppApi": {
          "id": "p7TeheqVwDMfPWhS",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].image.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        912,
        448
      ],
      "id": "0fcbbece-a765-4588-a46d-bf8d9dfc2e0b",
      "name": "Download Image URL",
      "webhookId": "35fcb218-c78d-4e18-8e94-292cdf3e3e1f",
      "credentials": {
        "whatsAppApi": {
          "id": "p7TeheqVwDMfPWhS",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "35588a02-6475-400d-b869-da05d7ed0f3a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "83b9e800-99d0-4e31-8032-ae81aebe86d1",
                    "leftValue": "={{ $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3ab7184b-65ec-4ca5-a250-667667999220",
                    "leftValue": "={{ $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        416,
        416
      ],
      "id": "4f22ed2d-dd1c-4c8c-a3d7-3ed316ea16fd",
      "name": "Switch4"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "en"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1248,
        224
      ],
      "id": "2b3a8dda-767b-4f24-ad4f-56bb2a66e0b7",
      "name": "Transcribe a recording2",
      "credentials": {
        "openAiApi": {
          "id": "NLWYJvrgYDLZnpNQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f35809b-3889-4ef7-a8d5-a4d934842631",
              "name": "Text",
              "value": "={{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        48
      ],
      "id": "d68a3d49-56ce-4c12-b796-5dec352fa230",
      "name": "Text2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f35809b-3889-4ef7-a8d5-a4d934842631",
              "name": "Text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1424,
        224
      ],
      "id": "8f1cd292-3677-4946-ab3d-a99f7b6b737a",
      "name": "Voice1"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1072,
        224
      ],
      "id": "dfecc946-0440-488c-a035-a839e6c85b3d",
      "name": "Download Audio1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "IIuRNL1HuZC6gzzV",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "=What's in this image?",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1248,
        448
      ],
      "id": "3a42e79e-411b-46c9-b63d-2cb25d84ec58",
      "name": "Analyze image1",
      "credentials": {
        "openAiApi": {
          "id": "NLWYJvrgYDLZnpNQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1072,
        448
      ],
      "id": "84bc1355-c310-4fdb-8ded-b515c9dd3901",
      "name": "Download Image1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "IIuRNL1HuZC6gzzV",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f35809b-3889-4ef7-a8d5-a4d934842631",
              "name": "Text",
              "value": "=# The author provided the image and the text \n\n## Image Description\n{{ $json.content }}\n\n## User Message\n{{ $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].image.caption }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1424,
        448
      ],
      "id": "f25fa28e-2b94-4098-a1c8-fb6480902da5",
      "name": "Image + Text1"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "899724456546423",
        "recipientPhoneNumber": "={{ $('Webhook').item.json.body.entry[0].changes[0].value.contacts[0].wa_id }}",
        "messageType": "audio",
        "mediaPath": "useMedian8n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        7280,
        208
      ],
      "id": "044ac49a-6773-4800-b708-d544d045f0c8",
      "name": "Send message",
      "webhookId": "7961c227-06d1-43c6-97ee-b10ce1030589",
      "credentials": {
        "whatsAppApi": {
          "id": "p7TeheqVwDMfPWhS",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "899724456546423",
        "recipientPhoneNumber": "={{ $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].from }}",
        "textBody": "={{ $json.reply }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        7072,
        64
      ],
      "id": "9f8778af-7e5e-453b-b9ca-792d626ec217",
      "name": "Send message1",
      "webhookId": "3f2c16e2-b427-4cb4-86d8-0f4dc43092bb",
      "credentials": {
        "whatsAppApi": {
          "id": "p7TeheqVwDMfPWhS",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        5344,
        -864
      ],
      "id": "7a69ae65-977f-49bc-b9bb-543230b950de",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "NLWYJvrgYDLZnpNQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {}
          ]
        },
        "triggerOn": "specificFile",
        "fileToWatch": {
          "__rl": true,
          "value": "1CuJO7gPErKHbu2328t5MIscGkYZs4an4CbK6gpJve_M",
          "mode": "list",
          "cachedResultName": "AI Automation Services - Company Knowledge Base",
          "cachedResultUrl": "https://docs.google.com/document/d/1CuJO7gPErKHbu2328t5MIscGkYZs4an4CbK6gpJve_M/edit?usp=drivesdk"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        3744,
        -1104
      ],
      "id": "2841160d-7414-46ec-899b-082fbea99207",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REx88FD646BwMqir",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1CuJO7gPErKHbu2328t5MIscGkYZs4an4CbK6gpJve_M",
          "mode": "list",
          "cachedResultName": "AI Automation Services - Company Knowledge Base",
          "cachedResultUrl": "https://docs.google.com/document/d/1CuJO7gPErKHbu2328t5MIscGkYZs4an4CbK6gpJve_M/edit?usp=drivesdk"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3952,
        -1104
      ],
      "id": "9bedcba0-1b16-470f-8c5e-0a27db2a3d7b",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REx88FD646BwMqir",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        4288,
        -944
      ],
      "id": "02ac0951-7475-40a0-8476-433187bcfe0d",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "separator": ".?!\\n",
        "chunkOverlap": 50
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        4144,
        -912
      ],
      "id": "730b1918-daef-4e8e-9e0b-939b209d2af0",
      "name": "Character Text Splitter"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.output;\nconst clean = JSON.parse(raw);\nreturn [{ json: clean }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5920,
        448
      ],
      "id": "03a65e54-b134-42e0-85cf-a3a377bc75fc",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "work with your data in chatbot index",
        "pineconeIndex": {
          "__rl": true,
          "value": "chatbot",
          "mode": "list",
          "cachedResultName": "chatbot"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        5216,
        688
      ],
      "id": "4942c741-cd13-47fd-8a58-7a4b26c85452",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "aRiMwll5VpIMGywq",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "chatbot",
          "mode": "list",
          "cachedResultName": "chatbot"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        4160,
        -1104
      ],
      "id": "da63f913-036e-4d1c-a3fb-6b1e5e2744c2",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "aRiMwll5VpIMGywq",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        5056,
        688
      ],
      "id": "75a24073-12d3-4dfa-8202-d981c06fdb8c",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "u0ZedqdnR0G518gf",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "numberInputs": 7
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1808,
        448
      ],
      "id": "64ba339b-7704-4587-ada6-138f6f5c3363",
      "name": "Merge1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Overview\nYou are the Parent Orchestrator Agent for an AI business assistant system.  \nYour job is to intelligently handle and route all incoming messages (text, voice, or media) from clients across WhatsApp, Instagram, and Messenger.  \nCurrent date and time: {{ $now.toString() }}  \nuser messege {{ $('Merge1').item.json.Text }}\nYou have persistent long-term memory in Supabase (user_memory + message_history) and contextual knowledge in a Supabase vector store (knowledge_base).  \nAlways use them before responding.\n\n---\n\n## Memory & Knowledge\nHere are the user's known memories:\n{{ $json.memory }}\n\nUse these memories only when relevant to the current message.\nDo not repeat them unnecessarily.\nDo not mention that you are using stored memory.\n\nRespond clearly, helpfully, and conversationally.\n- (Knowledge): Use Supabase vector store for company info, policies, services, and FAQs.\n\n---\n\n## Tools\n- **Think** → Analyze message, infer intent, and decide routing logic.\n- **Knowledge Tool** → Retrieve relevant info from Supabase vector store.\n- **Memory Tool** → Read/write user data from Supabase memory tables.\n- **Email Agent** → Draft, send, or manage emails for the company or clients.\n- **Calendar Agent** → Schedule, list, or modify meetings/events using Google Calendar.\n- **Web Search Agent** → Search the web when external info is required.\n- **Social Media Agent** → Post or manage content on company’s social accounts.\n- **WhatsApp Output Formatter** → Always format final messages to WhatsApp-compatible text or audio replies.\n\n---\n\n## Rules\n- Always check and use memory and knowledge before answering.\n- If context is unclear, ask one specific clarifying question.\n- Be brief, warm, and human-like — WhatsApp tone: simple, confident, slightly Egyptian casual.\n- Always explain the result clearly after any action (email sent, event booked, etc.).\n- Never expose internal logic, tools, or system details to the user.\n- Keep messages short (max 3 lines).\n- When returning structured data, always use JSON (no quotes, no code blocks).\n- when book event alwys send me mail on Hamed.samy.31@gmail.com \n---\n\n## Instructions\n1. Receive the user message (text, voice, or image transcription).\n2. Fetch relevant memory and history from Supabase.\n3. Retrieve company knowledge via vector search.\n4. Analyze message intent using Think:\n   - If it’s a general question → use Knowledge.\n   - If it’s about appointments → use Calendar Agent.\n   - If it’s about emails → use E-Mails Agent.\n   - If it’s about social or marketing → use Social Media Agent.\n   - If it’s an unknown topic → use Web Search Agent.\n5. Execute the task through the correct sub-agent.\n6. Update memory (intent, stage, name, phone, tags, etc.) in Supabase.\n7. Return the final WhatsApp-ready message.\n\n---\n\n## Output Format\nReturn **only JSON**, no markdown or quotes:\n\n{\n  \"reply\": \"<final text reply or WhatsApp caption>\",\n  \"memory_update\": {\n    \"name\": \"<client name if mentioned>\",\n    \"intent\": \"<detected intent>\",\n    \"stage\": \"<intro|qualification|needs|proposal|closing>\",\n    \"tags\": [\"automation\", \"appointment\", \"email\"]\n  },\n  \"actions\": {\n    \"email\": \"<summary if an email was sent>\",\n    \"calendar\": \"<summary if meeting booked>\",\n    \"search\": \"<summary if used web search>\",\n    \"knowledge_used\": true/false\n  }\n}\n\n---\n\n## Examples\n\n1️⃣  \n**Input:** \"ابعتلي ايميل فيه الأسعار\"  \n**Action:** Use E-Mails Agent + Knowledge (to fetch prices)  \n**Output:**  \n\"Email sent with full pricing list. Check your inbox 📩\"\n\n---\n\n2️⃣  \n**Input:** \"عايز أحجز مكالمة بكرة الساعة 3\"  \n**Action:** Use Calendar Agent → Schedule event  \n**Output:**  \n\"تم حجز مكالمة يوم بكرة الساعة 3:00PM ✅\"\n\n---\n\n3️⃣  \n**Input:** \"البوت ده بيشتغل على إنستا كمان؟\"  \n**Action:** Use Knowledge from vector store  \n**Output:**  \n\"أيوه طبعًا، البوت شغال على إنستجرام، واتساب، وفيسبوك بنفس الحساب 💬\"\n\n---\n\n4️⃣  \n**Input:** \"ابعتلي آخر عرض نزلتوه\"  \n**Action:** Use Social Media Agent → Fetch latest post  \n**Output:**  \n\"ده آخر عرض نزلناه 🔥 [link/post caption]\"\n\n---\n\n5️⃣  \n**Input:** \"مين اللي كلمني الأسبوع اللي فات؟\"  \n**Action:** Use Memory + History  \n**Output:**  \n\"كلمك أحمد من فريق الدعم يوم الاثنين بخصوص الباقة الذكية 💼\"\n\n---\n\nAlways ensure the reply is WhatsApp-ready: no extra formatting, no code blocks, just natural language.\n\nReturn JSON only (no quotes, no code blocks).\n\n\n\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        5024,
        464
      ],
      "id": "bb362672-45c3-4d29-97a2-d410bb74a0c2",
      "name": "main Agent",
      "retryOnFail": false,
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "3e65f008-0295-4792-902b-2ccd8e7dc133",
              "leftValue": "={{$json[\"user_id\"]}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2272,
        544
      ],
      "id": "eefa7471-5796-46d7-9bf3-31406af5921e",
      "name": "If1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a memory classifier for an AI assistant.\n\nYour job:\n- Analyze the user's latest message.\n- Decide if it contains useful long-term information that may matter in future conversations.\n\nUseful memories include:\n- Profile info (job, location, business type)\n- Interests & preferences\n- Goals, intentions, and requested services\n- Pain points, needs, budgets, timelines\n- Decisions, commitments, expectations\n\nNot useful:\n- Greetings, confirmations, thanks, short replies\n- Temporary scheduling, filler text, jokes\n\nOutput MUST be valid JSON only:\n\n{\n \"store\": \"yes\" | \"no\",\n \"memory\": \"short factual summary\",\n \"type\": \"profile | preference | goal | business | need | other\"\n}\n\nIf the message expresses a need, interest, or service request, store = \"yes\".\n\n{{ $json['messege '] }}\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        3776,
        560
      ],
      "id": "054418e7-d8d1-4c46-8d5a-3c94a216af0f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        3728,
        672
      ],
      "id": "53131333-1774-47fc-954b-970cc5cbcf84",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "NLWYJvrgYDLZnpNQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"store\": \"yes\",\n  \"memory\": \"User works in a digital marketing company.\",\n  \"type\": \"business\"\n}\n\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        3904,
        688
      ],
      "id": "1bda51e2-6d0c-433a-a943-d44cbcb10160",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4c4c7920-b9d8-497f-ac32-6696954b2c2b",
              "leftValue": "={{ $('AI Agent').item.json.output.store }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4224,
        560
      ],
      "id": "bd2dfaa5-5c38-4eee-8ff5-ec5af5f14187",
      "name": "If3"
    },
    {
      "parameters": {
        "height": 1104,
        "width": 1888,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        176,
        32
      ],
      "typeVersion": 1,
      "id": "34b1a9e0-6e8d-47f6-890f-299361bf87ba",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT u.user_id, u.name\nFROM user_channels uc\nJOIN users u ON uc.user_id = u.user_id\nWHERE uc.channel = '{{ $('Code in JavaScript').item.json.channel }}'\n  AND uc.external_id = '{{ $('Code in JavaScript').item.json.from }}';\n;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2096,
        544
      ],
      "id": "18bee96d-6780-4ee8-bcf7-e9ebb14ab463",
      "name": "check user",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "u0ZedqdnR0G518gf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO users (user_id, name, phone, source)\nVALUES (\n  gen_random_uuid(),\n  '{{ $('Code in JavaScript').item.json.profileName }}',\n  '{{ $('Code in JavaScript').item.json.from }}',\n  '{{ $('Code in JavaScript').item.json.channel }}'\n)\nRETURNING user_id;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2480,
        448
      ],
      "id": "d2c577ff-3366-43e4-8095-a641bb0bbf0e",
      "name": "Add new user",
      "credentials": {
        "postgres": {
          "id": "u0ZedqdnR0G518gf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO user_channels (user_id, channel, external_id, username)\nVALUES (\n  '{{ $json.user_id }}',\n  '{{ $('Code in JavaScript').item.json.channel }}',\n  '{{ $('Code in JavaScript').item.json.from }}',\n  '{{ $('Code in JavaScript').item.json.profileName }}'\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2624,
        448
      ],
      "id": "9596c7b6-5450-4df5-afde-94d9471a5700",
      "name": "user info",
      "credentials": {
        "postgres": {
          "id": "u0ZedqdnR0G518gf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO user_memory (user_id, memory, type, created_at)\nVALUES (\n  '{{ $json.user_id }}',\n  '{{$(\"AI Agent\").item.json.output.memory.replace(/'/g, \"''\")}}',\n  '{{$(\"AI Agent\").item.json.output.type}}',\n  NOW()\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4416,
        448
      ],
      "id": "10ecaab5-8d4e-4913-9140-d12b6650bb61",
      "name": "add messeges",
      "credentials": {
        "postgres": {
          "id": "u0ZedqdnR0G518gf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT memory\nFROM user_memory\nWHERE user_id = '{{ $('check user1').item.json.user_id }}'\nORDER BY created_at DESC\nLIMIT 5;\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4768,
        560
      ],
      "id": "8f51989c-2a84-4e0a-ac90-b5cee3697b95",
      "name": "get memory",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "u0ZedqdnR0G518gf",
          "name": "Postgres account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f44c891-755e-4473-9c2a-cba173311d9a",
              "name": "messege ",
              "value": "={{ $('Merge1').item.json.Text }}",
              "type": "string"
            },
            {
              "id": "253153ab-4a32-433d-a690-30a3291284ae",
              "name": "channel",
              "value": "={{ $('Code in JavaScript').item.json.channel }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3392,
        560
      ],
      "id": "8aed8ea5-103b-487b-b212-3e9bfa48e7b3",
      "name": "set"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT u.user_id, u.name\nFROM user_channels uc\nJOIN users u ON uc.user_id = u.user_id\nWHERE uc.channel = '{{ $('Code in JavaScript').item.json.channel }}'\n  AND uc.external_id = '{{ $('Code in JavaScript').item.json.from }}';\n;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4080,
        560
      ],
      "id": "8c9b042f-b3b0-4eb5-8391-bbd5694e2293",
      "name": "check user1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "u0ZedqdnR0G518gf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4592,
        560
      ],
      "id": "f4b13168-27da-41ef-a35a-ed649d4e9a7e",
      "name": "Merge2",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f7106d0-e9ba-4711-9659-2bdd199a6637",
              "name": "reply",
              "value": "={{ $json.reply }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6224,
        448
      ],
      "id": "07fc99fd-146b-4437-9f43-4ee429a791d0",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "33698a34-9ebb-488c-b3c3-debe66fa1a10",
                    "leftValue": "={{ $('Code in JavaScript').item.json.channel }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        6416,
        448
      ],
      "id": "389ab69c-7eeb-4d96-a681-6e98915125bd",
      "name": "Switch1",
      "alwaysOutputData": false
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Voice": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "send text2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Image + Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image + Text": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Agent": {
      "ai_tool": [
        [
          {
            "node": "main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "E-Mails Agent1": {
      "ai_tool": [
        [
          {
            "node": "main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get an event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Many Events": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Events": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "ai_tool": [
        [
          {
            "node": "E-Mails Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete an e-mail": {
      "ai_tool": [
        [
          {
            "node": "E-Mails Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many e-mails": {
      "ai_tool": [
        [
          {
            "node": "E-Mails Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Mark as read": {
      "ai_tool": [
        [
          {
            "node": "E-Mails Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Mark as unread": {
      "ai_tool": [
        [
          {
            "node": "E-Mails Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reply to e-mail": {
      "ai_tool": [
        [
          {
            "node": "E-Mails Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4.1-mini": {
      "ai_languageModel": [
        [
          {
            "node": "main Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4.1-mini3": {
      "ai_languageModel": [
        [
          {
            "node": "E-Mails Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4.1-mini4": {
      "ai_languageModel": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate audio": {
      "main": [
        [
          {
            "node": "send text1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Send message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate audio2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate audio2": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Switch4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download URL": {
      "main": [
        [
          {
            "node": "Download Audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image URL": {
      "main": [
        [
          {
            "node": "Download Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch4": {
      "main": [
        [
          {
            "node": "Text2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Image URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording2": {
      "main": [
        [
          {
            "node": "Voice1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio1": {
      "main": [
        [
          {
            "node": "Transcribe a recording2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image1": {
      "main": [
        [
          {
            "node": "Image + Text1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image1": {
      "main": [
        [
          {
            "node": "Analyze image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Voice1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Image + Text1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "main Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "check user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "main Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Add new user",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "check user1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "add messeges",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "check user": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add new user": {
      "main": [
        [
          {
            "node": "user info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "user info": {
      "main": [
        [
          {
            "node": "set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add messeges": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get memory": {
      "main": [
        [
          {
            "node": "main Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check user1": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "get memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "c411accd-b3b3-4abd-8f52-59ddc8dd1774",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bb2608d1baf51ef5f80fb371dfdb7810cef143fe1a3052bed72c05c0f7e5da67"
  },
  "id": "00EX9iNCWxCL0g4p",
  "tags": []
}